﻿@page
@model BacchusAuctionApp.Pages.Auctions.IndexModel
@{
    ViewData["Title"] = "All active auctions";
}

<h2>@ViewData["Title"]</h2>


<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th><select id="filter" onchange="filterElements()">
                    <option>Category</option>
                </select></th>
            <th>Time left</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var auction in Model.Auctions)
        {
            <tr class="auction">
                <td>@auction.ProductName</td>
                <td>@auction.ProductDescription</td>
                <td class="categories">@auction.ProductCategory</td>
                <td class="timer">@auction.BiddingEndDate</td>
                <td><a class="btn btn-danger" id="endDate" asp-page="MakeBet" asp-route-id="@auction.ProductId">Bet</a></td>
                <td class="timeLeft" hidden>@auction.BiddingEndDate</td>
            </tr>
        }
        <tr><td></td><td></td><td><button class="btn btn-default" id="btn-reset" onclick="reset()">Reset category</button></td></tr>
    </tbody>
</table>