﻿@page
@model BacchusAuctionApp.Pages.Auctions.MakeBetModel
@{
    ViewData["Title"] = "Make Bet";
}

<h2>@ViewData["Title"]</h2>
<div class="timeLeft" hidden>@Model.Auction.BiddingEndDate</div>

<div id="itemTable">
    <form method="post">
        <table class="table tab">
            <tr><td><label>Product Name</label></td><td>@Model.Auction.ProductName</td></tr>
            <tr><td><label>Product Description</label></td><td>@Model.Auction.ProductDescription</td></tr>
            <tr><td><label>Category</label></td><td>@Model.Auction.ProductCategory</td></tr>
            <tr><td><label>First Name</label></td><td><input asp-for="User.FirstName" /></td></tr>
            <tr><td><label>Last Name</label></td><td><input asp-for="User.LastName" /><input asp-for="User.Id" type="hidden" value="X" /></td></tr>
            <tr><td><label>Your bet</label></td><td><input type="number" asp-for="Bidding.Bet" />&nbsp;&#128;</td></tr>
            <tr><td><label>Time left</label></td><td><label class="timer"></label></td></tr>
            <tr><td></td><td><input class="btn btn-danger" type="submit" value="Bet" id="endDate" /></td></tr>
        </table>

        <!--TODO: Need this to save product - FIX IT !-->
        <input asp-for="Auction.ProductId" type="hidden" />
        <input asp-for="Auction.ProductName" type="hidden" />
        <input asp-for="Auction.ProductDescription" type="hidden" />
        <input asp-for="Auction.ProductCategory" type="hidden" />
        <input asp-for="Auction.BiddingEndDate" type="hidden" />
    </form>
</div>

<div asp-validation-summary="All"></div>