﻿@page
@model BacchusAuctionApp.Pages.ResultModel
@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<table class="table">
    <thead>
        <tr>
            <th>Bet Time</th>
            <th>Product</th>
            <th>Bidding</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bidding in Model.resultViewModels)
        {
        <tr>
            <td>@bidding.BetTime </td>
            <td>@bidding.ProductName</td>
            <td>@bidding.BetSum &#128;</td>
            <td hidden>@bidding.ProductId</td>
        </tr>
        }
    </tbody>
</table>